.reveal-item {
    opacity: 0;
    -webkit-transition: all 1.5s ease-out;
    transition: all 1.5s ease-out;
    -webkit-transform: scale(1.15);
    -ms-transform: scale(1.15);
    transform: scale(1.15);
    
    &--is-visible {
        opacity: 1;
        -webkit-transform: scale(1);
        -ms-transform: scale(1);
        transform: scale(1);
    }
}